<div class="seller-auth">
    <div *ngIf="showLogin" class="sign-up">

        <h1>Seller Sign-up</h1>
        <form class="common-form" #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
            <input type="text" class="form-input" placeholder="Enter name" name="name" ngModel>
            <input type="text" class="form-input" placeholder="Enter email" name="email" ngModel>
            <input type="password" class="form-input" placeholder="Enter Password" name="password" ngModel>
            <button class="form-button">Sign Up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already have account ? Click for login </a>
        </form>
    </div>

    <div class="sign-up" *ngIf="!showLogin">

        <h1>Seller Login </h1>
        <form class="common-form" #sellerLogin="ngForm" (ngSubmit)="login(sellerlogin.value)">
            
            <input type="text" class="form-input" placeholder="Enter email" name="email" ngModel>
            <input type="password" class="form-input" placeholder="Enter Password" name="password" ngModel>
            <button class="form-button">Login</button>

            <a class="auth-toggle-link" (click)="openSignUp()">Don't have account ? Click for signup </a>
        </form>
    </div>
</div>